In [13]:
# The code was removed by Watson Studio for sharing.

In [14]:
# Load file
data = pd.read_csv(streaming_body_1,header=None)

In [15]:
# Add column name
data.columns=['dna']

In [16]:
# print data
data['dna']

0    GTTATCTATGAGAATCTGTGTTGACTAAAGCGTTAGGGCTGCTTAC...
Name: dna, dtype: object

In [20]:
# Transcbribe DNA to RNA (T replace with U)
data['rna']=data['dna'].replace('T','U')

In [21]:
# print RNA
data['rna']

0    GTTATCTATGAGAATCTGTGTTGACTAAAGCGTTAGGGCTGCTTAC...
Name: rna, dtype: object

In [22]:
data.head()

,dna,rna
0,GTTATCTATGAGAATCTGTGTTGACTAAAGCGTTAGGGCTGCTTAC...,GTTATCTATGAGAATCTGTGTTGACTAAAGCGTTAGGGCTGCTTAC...